
.advantages__title{
  margin-top: 5px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width){
    margin-top: 11px;
    margin-bottom: 42px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width){
    margin-top: 11px;
    margin-bottom: 39px;
    font-size: 53px;
    line-height: 57px;
  }
}
