.copyright{
  border-top: 1px solid $bg-color-separate;

  @media $tablet, $desctop {
    border-top: 0;
  }
}
.copyright__text{
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link{
  color: $font-color-menu;
  text-decoration: none;
}
