.header-logo {
  display: block;
  width: 86px;
  height: 35px;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media $tablet {
    width: 113px;
    height: 46px;
  }

  @media $desktop {
    width: 149px;
    height: 72px;
  }
}
