.hit{
  position: relative;
  padding-top: 35px;


  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 35px;
  }

  &::after {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height: 6px;
   background-image: url("../img/bg-zigzag-line.svg");
   background-size: 320px 6px;
   background-position-x: 0;
   background-repeat: repeat-x;

   @media (min-width: $tablet-width) {
     height: 17px;
     background-size: 768px 17px;
     background-position-x: -22px;
   }

   @media (min-width: $desktop-width) {
     left: 50px;
     right: 50px;
     height: 23px;
     background-size: 1050px 23px;
     background-position-x: -20px;
   }
 }
}
.hit__header{
  @media (min-width: $tablet-width){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    padding: 5px 0;
  }

  @media (min-width: $desktop-width){
    padding-left: 46px;
  }
}

.hit__marker{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $font-color-legend;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
   margin-left: auto;
   margin-top: 5px;
   margin-bottom: 0;
   max-width: 127px;
   line-height: 17px;
   text-align: center;
 }

 @media (min-width: $desktop-width) {
   margin-left: 45px;
   margin-right: 55px;
   line-height: 17px;
 }

}

.hit__text{
  margin-top: 18px;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
   margin-top: 0;
   margin-bottom: 48px;
   font-size: 17px;
   line-height: 30px;
 }

 @media (min-width: $desktop-width) {
   margin-left: 45px;
   margin-right: 58px;
   font-size: 17px;
   line-height: 30px;
 }
}
.hit__price{
  margin-top: 26px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;


  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }
}
.hit__button{
  margin: 0;
}
