.page-footer {
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: $bg-color-footer;

  @media (min-width: $tablet-width){
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 0;
  }
}
.page-footer__copyright{
  margin-top: 22px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width){
    margin:0;
  }
}
