.poster-list{
  position: relative;
  width: 100%;

  @media (min-width: $mobile-width) and (max-width: $mobile-l-width){
    display: flex;
    flex-wrap: wrap;
  }
}

.promo-list__item {
  @media (min-width: $mobile-width) and (max-width: $mobile-l-width) {
    width: 50%;
  }
}

.poster-list__link{
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 34px;
  padding-left:36px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  text-decoration: none;

  @media (min-width: $mobile-l-width) {
    padding-top: 24px;
    padding-bottom: 31px;
    padding-left:30px;
    font-size: 19px;
    line-height: 24px;
  }

  &:hover {
    transform: translateY(-5px);
  }
  &:active {
   color: rgba(255, 255, 255, 0.3);
 }

  &--interior {
    background-color: $green-primary;

    &:hover,
    &:active {
      background-color: $green-primary--hover;
    }

    &::after {
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url("../img/icon-interior.svg");
      background-size: 40px 62px;
    }
  }

  &--toy {
    background-color: $green-secondary;

    &:hover,
    &:active {
      background-color: $green-secondary--hover;
    }

    &::after {
     right: 27px;
     width: 60px;
     height: 60px;
     background-image: url("../img/icon-toy.svg");
     background-size: 60px 60px;
   }
  }
}

.poster-list__text{
  display: block;
  max-width: 120px;
}
