.reviews{
  margin-top: 0;
  margin-bottom: 45px;

  @media $tablet{
    margin-bottom: 68px;
    padding-top: 83px;
    padding-bottom:  47px;
    background-image: url("../img/review@1x.jpg");
    background-size: image-size("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
  }

  @media $desctop{
    margin-bottom: 67px;
    padding-top: 78px;
    padding-bottom:  96px;
    background-image: url("../img/review@1x.jpg");
    background-size: image-size("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
  }
}
.reviews__title{
  margin-top: 4px;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media $tablet{
    margin-top: 83px;
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }

  @media $desctop{
    margin-top: 78px;
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }

}

.reviews__quote{
  margin: 0;
  margin-bottom: 33px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 30px;

  @media $tablet{
    margin-bottom: 61px;
  }

  @media $desctop{
    margin-bottom: 44px;
  }
}

.reviews__text{
  font-size: 15px;
  line-height: 30px;
  color: $gray-primary;

  @media $tablet, $desctop{
    font-size: 17px;
    line-height: 30px;

  }
}
.reviews__author{
  font-size: 17px;
  line-height: 24px;
  font-style: normal;

  @media $tablet{
    font-size: 18px;
  }
}

.reviews__author-name {
  font-weight: 700;
  color: $font-color-heading;
}
.reviews__author-email {
  color: $gray-primary;
  text-decoration: none;

  &:hover {
    color: $font-color-menu--hover;
  }

  &:active {
    color: $font-color-menu--active;
  }
}

.reviews__navigation {
  margin: 0;
}

.reviews__nav-button {
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 1px solid $bg-color-separate;
  background-color: transparent;
  cursor: pointer;

  @media $tablet, $desctop {
    border: 0;
  }

  &--prev {
    &::after {
      background-image: url("../img/icon-left-arrow.svg");
    }
  }

  &--next {
    border-width: 1px 1px 1px 0;

    &::after {
      background-image: url("../img/icon-right-arrow.svg");
    }
  }

  &::after {
    content: "";

    width: 50px;
    height: 26px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 50px 26px;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.reviews__button {
  @media $tablet {
    margin-right: 0;
    width: 167px;
  }

  @media $desktop {
    margin-top: 24px;
    margin-right: 0;
    width: 175px;
  }
}
