.social-links {
  padding-top: 25px;
  padding-bottom: 27px;

  @media $tablet {
    padding: 0;

  }
}

.social-links__link {
  margin:0;
}

.social-links__image {
  .social-links__link:hover &,
  .social-links__link:active & {
    fill: $green-secondary--hover;
  }
  .social-links__link:active & {
    fill-opacity: 0.3;
  }
}
