$mobile-width: 320px;
$mobile-l-width: 425px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-l-max-width: ($tablet-width - 1);

$mobile: "(min-width: {$mobile-width})";
$mobile-l: "(min-width: {$mobile-l-width})";
$tablet: "(min-width: {$tablet-width})";
$desktop: "(min-width: {$desktop-width})";

$mobile-l-only: "(min-width: {$mobile-l-width}) and (max-width: {mobile-l-max-width})";

$font-family-base: "Open Sans", "Arial", sans-serif;
$font-size-base: 15px;
$line-height-base: 24px;


$black: #000000;
$white: #ffffff;
$gray-primary: #444444;
$gray-secondary: #f1f1f1;
$green-primary: #63d1bb;
$green-primary--hover: #59d5bc;
$green-secondary: #56c3b2;
$green-secondary--hover: #46c1ae;

$bg-color-body: $white;
$bg-color-button: $white;
$bg-color-button--hover: linear-gradient(0deg, $gray-primary, $gray-primary);
$bg-color-button--active:linear-gradient(0deg, $gray-primary, $gray-primary);
$bg-color-icon: rgba($black, 20%);
$bg-color-poster: #f1f1f1;
$bg-color-footer: $gray-secondary;
$bg-color-separate: #ececec;
$bg-color-separate-menu: rgba($black, 10%);
$border-color-button: $gray-primary;

$font-color-base: $gray-primary;
$font-color-button: $font-color-base;
$font-color-button--hover: $white;
$font-color-button--active: rgba($font-color-button--hover, 30%);
$font-color-heading: #010000;
$font-color-legend: $green-primary;
$font-color-menu: $black;
$font-color-menu--hover: rgba($font-color-menu, 60%);
$font-color-menu--active: rgba($font-color-menu, 30%);
